[submodule "TransmissionPotential"]
	path = TransmissionPotential
	url = https://github.com/goldingn/covid19_australia_interventions.git
[submodule "ClinicalPathwaysModel"]
	path = ClinicalPathwaysModel
	url = git@github.com:aus-covid-modelling/ClinicalPathwaysModel.git
[submodule "AgentBasedModel"]
	path = AgentBasedModel
	url = git@github.com:aus-covid-modelling/AgentBasedModel.git
